.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.game-container {
  flex: 1;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  background: #fff;
}
